<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../../assets/map-photo.png" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake street, 111</p>
      <p>Complement: Apto 171</p>
      <p>Neighborhood: Stars</p>
      <p>Zip code: 1234567</p>
      <p>Black Rose - LOL</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" class="m-[15px]" (click)="goToHomePage()">Create pickup call</ion-button>
</ion-content>
